//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
$main-font: 'Montserrat', sans-serif;

//colors
$white: #FFFFFF;
$black: #000000;
$N10: #22252C;
$primary-blue: #065BEA;
$secondary-blue: #0656DC;
$primary-gray: #C6D0E0;
$primary-black: #333333;
$grey-text: #75777A;
$green-color: #6FCF97;

//font-sizes
$H280: 28px;
$H200: 20px;
$H140: 14px;
$H120: 12px;